.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #bce784;
}

/** Two classes - one larger, no scroll, all grid items visible below
                  one smaller, scroll, grid items then do what they will I guess */

.header-container {
  position: relative;
  height: 150px;
}

.header-img {
  height: 100%;
  background-image: url("curtain.png");
  background-repeat: repeat-x;
  background-size: auto 150px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-expanded {
  max-height: 100px;
}

.container {
  background-color: #7ac74f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1vh 10vw 10vh 10vw;
}
